<!DOCTYPE html>
<html>
	<head>
		{{ template "header" }}
	</head>

	<body>
		{{ template "nav" }}

		<main>
			{{ range .Posts }}
			<article class="post" id="{{ .Slug }}">
				<div class="votes">
					<a class="upvote {{ if eq .Points.Self 1 }} active {{ end }}" href="/post/{{ .Slug }}/upvote">
						<i class="material-icons">arrow_upward</i>
					</a>
					{{ .Points.PP }}
					<a class="downvote {{ if eg .Points.Self -1 }} active {{ end }}" href="/post/{{ .Slug }}/downvote">
						<i class="material-icons">arrow_downward</i>
					</a>
				</div>
				<div class="thumbnail">
					{{ if eq .Link "" }}
					<a target="_blank" class="post" href="/post/{{ .Slug }}">
						<i class="material-icons">short_text</i>
					</a>
					{{ else }}
					<a target="_blank" class="post" href="{{ .Link }}">
						{{ if eq .LinkType 1 }}
						<img src="{{ .Link }}" />
						{{ else }}
						<i class="material-icons">open_in_new</i>
						{{ end }}
					</a>
					{{ end }}
				</div>
				<div class="content">
					<h3><a href="/post/{{ .Slug }}" target="_blank" class="post">{{ .Title }}</a></h3>
					<a href="/b/{{ .Author.Username }}">/b/{{ .Author.Username }}</a>
				</div>
			</article>
			{{ end }}
		</main>
	</body>
</html>
