{{ define "nav" }}
<nav>
	<h1><a href="/">ymboard</a></h1>
	<span>
		<form action="/search" method="get">
			<input id="query" type="text" name="query" placeholder="Search">
		</form>
		{{ if .User }}
		<a class="profile active" href="/user/{{ .User.Username }}">
			<span class="profile">
				{{ .User.Username }}
				<p class="pp">{{ .User.PP }}</p>
			</span>
			<img src="{{ .User.AvatarURL }}">
		</a>
		{{ end }}
	</span>
</nav>
{{ end }}
