<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>

	<body>
		{{ template "nav" }}

		<main class="post">
			<section>
				<div class="info">
					<div class="votes">
						<a class="upvote" href="/post/2/upvote">
							<i class="material-icons">arrow_upward</i>
						</a>
						627
						<a class="downvote" href="/post/2/downvote">
							<i class="material-icons">arrow_downward</i>
						</a>
					</div>
					<header>
						<h1>Rock star</h1>
						<p>Post by <a href="/u/diamondburned">/u/diamondburned</a> 3 hours ago</p>
					</header>
				</div>
				<img src="https://i.redd.it/qg71x6mue5031.jpg" />
			</section>

			<div>
				<div class="comment">
					<span>
						<div class="votes">
							<a class="upvote" href="/post/2/upvote">
								<i class="material-icons">arrow_upward</i>
							</a>
							32
							<a class="downvote" href="/post/2/downvote">
								<i class="material-icons">arrow_downward</i>
							</a>
						</div>
						<div class="comment-body">
							<p class="comment-header">
								<a href="/u/diamondburned">/u/diamondburned</a>
								3 hours ago
							</p>
							<p class="comment-content">I hate this.</p>
						</div>
					</span>
					<div class="comment">
						<span>
							<div class="votes">
								<a class="upvote" href="/post/2/upvote">
									<i class="material-icons">arrow_upward</i>
								</a>
								17
								<a class="downvote" href="/post/2/downvote">
									<i class="material-icons">arrow_downward</i>
								</a>
							</div>
							<div class="comment-body">
								<p class="comment-header">
									<a href="/u/diamondburned">/u/diamondburned</a>
									3 hours ago
								</p>
								<p class="comment-content">FGO is the best game there is.</p>
							</div>
						</span>
					</div>
					<div class="comment">
						<span>
							<div class="votes">
								<a class="upvote" href="/post/2/upvote">
									<i class="material-icons">arrow_upward</i>
								</a>
								3
								<a class="downvote" href="/post/2/downvote">
									<i class="material-icons">arrow_downward</i>
								</a>
							</div>
							<div class="comment-body">
								<p class="comment-header">
									<a href="/u/diamondburned">/u/diamondburned</a>
									3 hours ago
								</p>
								<p class="comment-content">Wrong subreddit? Oh wait, wrong site.</p>
							</div>
						</span>
					</div>
					<div class="comment">
						<span>
							<div class="votes">
								<a class="upvote" href="/post/2/upvote">
									<i class="material-icons">arrow_upward</i>
								</a>
								-1
								<a class="downvote" href="/post/2/downvote">
									<i class="material-icons">arrow_downward</i>
								</a>
							</div>
							<div class="comment-body">
								<p class="comment-header">
									<a href="/u/diamondburned">/u/diamondburned</a>
									3 hours ago
								</p>
								<p class="comment-content">No.</p>
							</div>
						</span>
					</div>
				</div>
				<div class="comment">
					<span>
						<div class="votes">
							<a class="upvote" href="/post/2/upvote">
								<i class="material-icons">arrow_upward</i>
							</a>
							-3
							<a class="downvote" href="/post/2/downvote">
								<i class="material-icons">arrow_downward</i>
							</a>
						</div>
						<div class="comment-body">
							<p class="comment-header">
								<a href="/u/diamondburned">/u/diamondburned</a>
								3 hours ago
							</p>
							<p class="comment-content">xDDD</p>
						</div>
					</span>
				</div>
			</div>
		</main>
	</body>
</html>
