:root {
	--accent: rgb(23, 147, 209);
	--light-outline: #DDD;
}

body {
	max-width: 100vw;
	width: 800px;

	min-height: 100vh;
	margin: 0 auto;

	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);

	font-family: "Open Sans", sans-serif;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 30px;
	padding: 5px 20px;
	background: #DEDEDE;
	border-bottom: 2px solid #CCC;
}
	nav > h1 {
		font-size: 1.5em;
		font-weight: lighter;
	}
		nav > h1 > a {
			color: black;
			text-decoration: none;
		}
	nav input {
		border: none;
		border-bottom: 2px solid #CCC;
		background: none;
		padding: 3px 7px;
		transition: border-color 200ms linear;
		margin-top: 5px;
		font-size: 1em;
	}
	nav input:focus {
		outline: none;
		border-color: var(--accent);
	}
	nav > span, nav > span > a {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
		nav > span img {
			width: 36px;
			height: 36px;
			object-fit: cover;
			border-radius: 18px;
		}
		nav > span span.profile {
			padding: 0 8px;
		}
			nav > span > a.profile {
				font-size: 0.8em;
				text-align: right;
				color: black;
				text-decoration: none;
			}
			nav > span > a.profile.active {
				color: #FF4500;
			}
			nav > span > a.profile p.pp {
				font-size: 0.75em;
				margin: 0;
			}

article.post {
	display: flex;
	align-items: center;
	padding: 6px 12px;
	padding-left: 0;
	border-bottom: 1px solid var(--light-outline);
	transition: box-shadow 150ms cubic-bezier(0, 0, 0.07, 0.99);
}
	article.post:hover {
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	}
	article.post > div.thumbnail {
		width: 80px;
		height: 60px;
		padding: 0 12px;
		padding-left: 0;
	}
		article.post > div.thumbnail > a > * {
			object-fit: cover;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			border: 1px solid var(--light-outline);
		}
		article.post > div.thumbnail > a > i.material-icons {
			text-align: right;
		}
	article.post > div.content {
		max-width: 100%;
		display: flex;
		flex: 1;
		flex-direction: column;
		justify-content: center;
	}
		article.post a {
			color: black;
			text-decoration: none;
		}
		article.post a:hover {
			text-decoration: underline;
		}
		article.post > div.content > * {
			margin: 0px;
		}
		article.post > div.content > h3 > a {
			font-weight: normal;
			display: block;
			padding-top: 7px;
			padding-bottom: 2px;
		}
		article.post > div.content > a {
			font-size: 0.9em;
			padding-top: 2px;
			padding-bottom: 7px;
		}

div.votes {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 65px;
}
	div.votes a.upvote,
	div.votes a.downvote {
		color: #CCC;
		font-size: 0em;
	}
		div.votes a.upvote:hover,
		div.votes a.downvote:hover {
			color: black;
		}
		div.votes a.upvote.active {
			color: #FF4500;
		}
		div.votes a.downvote.active {
			color: #9393F5;
		}

main.post > section {
	padding: 1em 0;
}
	main.post > section > div.info {
		display: flex;
		flex-direction: row;
		padding-bottom: 1em;
	}
	main.post > section img {
		max-width: 65%;
		width: auto;
		margin: 0 auto;
		display: block;
	}
	main.post > section header {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
		main.post > section header > h1 {
			width: 100%;
			text-align: left;
			margin: 0;
		}
		main.post > section header > p {
			margin: 0;
		}

main.post > div {
	padding: 0 1em;
}

div.comment {
	border-left: 2px solid #AAA;
	padding: 5px 8px;
	transition: border-color 200ms cubic-bezier(0, 0, 0.07, 0.99);
}
	div.comment:hover {
		border-color: #222;
	}
	div.comment div.votes {
		width: 50px;
		font-size: 0.85em;
	}
	div.comment > span {
		display: flex;
		flex-direction: row;
	}
	div.comment div.comment-body {}
		div.comment div.comment-body > p.comment-header,
		div.comment div.comment-body > p.comment-header > a {
			color: #555;
			font-size: 0.9em;
			padding: 6px 0;
		}
		div.comment div.comment-body > p.comment-header,
		div.comment div.comment-body > p.comment-header > a,
		div.comment div.comment-body > p.comment-content {
			margin: 0;
		}
